#sobrenos{
    background-image: url(../../assets/bg_sobrenos.png);
    padding-top: 120px;
}

.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    width: 100%;
    max-width: 1920px;
}

p{
    font-size: 20px;
    width: 100%;
    max-width: 800px;
}



video{
    border-radius: 10px;
    margin-top: 5%;
}







