#sobrenos{
    background-image: url(../../assets/bg_sobrenos.png);
    padding-top: 120px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    margin-top: 0;
    margin-left: 50px;
    width: 90%;
}

p{
    font-size: 20px;
    max-width: 1000px;
}



video{
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 20px;
   
}







