.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1920px;
    margin-bottom: 50px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 16px;
    resize: none;
}

textarea{
    height: 120px;
}



input[type='submit'] {
    background-color: red;
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    max-width: 30%;
    float: right;
}

input[type='submit']:hover {
    background-color: rgb(177, 5, 5);
}

label {
    color: #fff;
}

.contact {
    border-radius: 5px;
    background-color: #20265b;
    padding: 5%;
    max-width: 25%;
    margin-left: 3%;
    margin-top: 5%;
}

.contact p{
    color: #ff0000;
    font-size: 0.7rem;
}



.map {
    width: 100%;
    max-width: 35%;
    height: 38vh;
    padding: 3%;
    
}

span {
    color: #fff;
    line-height: 35px;
    font-size: 1rem;
}

.direction {
    display: flex;
    flex-direction: column;
}

.item-direction{
    display: flex;
    align-items: center;
}

span svg {
    display: inline-block;
    padding-right: 0.5rem;
}
