.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.title-h1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 25%;
    margin-left: 10%;
}

.img-header {
    display: flex;
    width: 50%;
    margin-top: 10%;
    margin-left: 5%;
}

.title-h1 button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
    padding: 0.5rem;
    width: 40%;
    border: none;
    border-radius: 5px;
    background-color: #24c18c;
    color: #fff;
    font-size: 1rem;
}

@media screen and (max-width: 1280px){
    .title-h1 h1{
        color: red;
    }
}

