.header-container {
    display: flex;
    width: 100%;
    height: 1000px;
}

.title-h1 {
    display: flex;
    flex-direction: column;
    width: 47.29%;
    height: 100%;
}

.span-h1 span {
    font-size: 1.5rem;
}

.new {
    display: flex;
    flex-direction: column;
    width: 72%;
    margin-top: 300px;
    margin-left: 33.8%;
}

.h1-header {
    margin-bottom: 12px;
}

.img-header {
    display: flex;
    width: 52.71%;
}

.microfone {
    width: 100%;
    max-width: 870px;
    height: 100%;
    max-height: 993px;
    margin-left: auto;
}

.title-h1 button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
    padding-right: 20px;
    width: 230px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #24c18c;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 1.2rem;
}
@media screen and (max-width: 1650px) {
    .microfone {
        width: fit-content;
    }
}

@media screen and (max-width: 1400px) {
    .title-h1 h1 {
        font-size: 1.8rem;
    }
    .new {
        margin-left: 25%;
    }
}

@media (max-width: 1280px) {
    .header-container {
        height: 1150px;
        flex-direction: column-reverse;
        padding-top: 80px;
    }
    .title-h1 {
        width: 100%;
        height: 50%;
        text-align: center;
    }

    .new{
        margin-top: 20px;
        width: 55%;
        align-items: center;
       
    }

    .img-responsive {
        width: 100%;
        height: 50%;
        
    }
    .microfone-responsive{
        width: auto;
        height: 100%;
        float: right;
    }
    .title-h1 button{
        width: 320px;
    }
}

@media (max-width: 600px){
    .header-container{
        height: 700px;
    }
    .title-h1{
        align-items: center;
    }
    .title-h1 h1{
        font-size: 1.5rem;
    }

    .span-h1 span{
        font-size: 1.2rem;
    }
    .microfone-responsive{
        width: auto;
        height: 100%;
        float: right;
    }
    .new{
        width: 100%;
        margin-left: 0;
    }
   
}




