.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10%;
    height: 42vh;
    box-sizing: border-box;
    border-top: 1px solid #000;
    width: 100%;
    max-width: 1920px;
    background-color: #171c47;
}

#img-footer {
    padding-top: 20%;
}

.footer-link {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-decoration: none;
    line-height: 40px;
}



.social {
    display: flex;
    flex-direction: column;
}

.social-footer{
    display: inline-block;
    align-items: center;
}

.footer-icon {
    padding: 10px;
    color: #fff;
}

.footer-icon:hover {
    color: #24c18c;
}


.parceiros {
    display: flex;
    flex-direction: column;
}

#img-parceiros {
    padding-right: 25px;
}
