.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10%;
    height: 40vh;
    box-sizing: border-box;
    border-top: 1px solid #000;
    width: 100%;
    max-width: 1920px;
    background-color: #171c47;
}


#img-footer{
    display: flex;
    flex-direction: column;
    padding-top: 1.8rem;
}

.footer-link{
    display: flex;
    flex-direction: column;
    color: #fff;
    text-decoration: none;
    line-height: 40px;
 
}



h5{
    color: #fff;
    font-size: 1.3rem;
}



.social{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 1.3rem;
  
}


.footer-icon{
    display: inline-block;
    padding: 10px;
    color: #fff;
}

.footer-icon:hover{
    color: #24c18c;
}

.parceiros{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 1.3rem;
}

#img-parceiros{
    padding-right: 25px;
    
}




