.container-footer{
    display: grid;
    grid-template-columns: 3fr (1fr);
    padding-bottom: 10%;
    height: 48vh;
    box-sizing: border-box;
    border-top: 1px solid #000;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    background-color: #171c47;
}

.link-footer{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    margin-left: 14%;
    line-height: 50px;
}

.logo-footer{
    padding-top: 3%;
    padding-left: 12%;
}

a{
    color: #fff;
    text-decoration: none;
}



h5{
    color: #fff;
    margin-left: 14%;
    font-size: 1.3rem;
}

.line{
    margin-left: 14%;
}

.social{
    display: flex;
    flex-direction: row;
}


